*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
    width: 100%;
}

@media (max-width: 767.98px) {
    body{
       overflow-x: hidden; 
    }
    .container {
        margin: 0px 0px;
        width: 100%;
        overflow-x: hidden;
        height:700px;
        border-radius: 0;
    }
    .sectA {
        margin-top: -30px;
        flex-direction: column;
        overflow-x: hidden;
        height: auto;
        margin-right: 300px; 
        width: fit-content;
    }
    .sectA-title {
        width: 50%;
        font-size: 35px;
        margin-top: -7px;
        margin-left: 0px;
        text-align: center;
    }
    
    
    
    .submit-btn {
        width: 30%;
        height: 50px;
        font-size: 20px;
    }
    .sectB{
        overflow-x: hidden;
        margin-top: -20px;
    }
    .country {
        font-size: 20px;
    }
    .long {
        font-size: 17px;
    }
    .lat {
        font-size: 17px;
    }
    
    .sectC {
        overflow-x: hidden;
        margin-left: 60px;
        margin-top: -20px;
        overflow-x: hidden;
        justify-content: center; 
    }
    .sectC-temp {
        width: 50%;
        margin-left: 200px;
        margin-top: 0px;
    }
    
    .location {
        font-size: 25px;
        margin-bottom: 50px;
    }
    .humidity-desc {
        font-size: 19px;
    }
    .pressure-desc {
        font-size: 19px;
    }
    .wind-desc {
        font-size: 19px;
    }
    
    
    
    .country-id {
        width: 67%;
        padding: 15px;
        font-size: 20px;
    }
    .sectA-input {
        margin-left: 0px;
        margin-top: -10px;
        width: 100%;
        
    }
    .sect-desc {
        font-size: 20px;
        margin-bottom: 25px;
        white-space: nowrap;
        margin-left: 4px;
        margin-top: -50px;
    }
    
    
    .humidity {
       
        margin-top: -30px;
        border-radius: 11px;
        color: #333866;
        font-size: 19px;
        overflow-x: hidden;
    }
    .pressure {
        overflow-x: hidden;
        margin-top: -130px;
        font-size: 19px;
    }
    .wind-speed {
        overflow-x: hidden;
        font-size: 19px;
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 1023.98px){
    body{
        overflow-x: hidden;
      
    }
    .container {
        margin: 20px 44px;
        width: 600px;
        background-color: white;
        border-radius: 19px;
        height: auto;
        overflow-x: hidden;
    }
    .sectA{
        flex-direction: column;
        overflow-x: hidden;
    }
    .sectA-input {
        width: 50%;
        margin-left: 270px;
        margin-top: -59px;
    }
    .country-id {
        width: 65%;
        padding: 15px;
        border: 2px solid #95BCFF;
    }
    .submit-btn {
        width: 60px;
        height: 50px;
    }
    .sectB{
        overflow-x: hidden;
        margin-top:5px ;
    }
    .sectC{
        flex-direction: row;
        overflow-x: hidden;
        margin-top:0px ;
    }
    .sectC-title {
        font-size: 40px;
    }
    .sect-desc {
        margin-top: -30px;
        font-size: 20px;
    }
    .humidity{
        overflow-x: hidden;
        font-size: 30px;
        margin: 0px;
    }
    
    .pressure {
        margin-left: 235px;
        margin-top: -193px;
        overflow-x: hidden;
        font-size: 30px;
    }
    .wind-speed {
        margin-left: 430px;
        margin-top: -190px;
        overflow-x: hidden;
        font-size: 30px;
    }
    .humidity-desc {
        font-size: 25px;
    }
    .pressure-desc {
        font-size: 25px;
    }
    .wind-desc {
        font-size: 25px;
    }
}

@media (min-width: 1024px) and (max-width: 1199.98px){
    .container {
        margin: 30px 20px;
        width: 530px;
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    
    .sectA{
        overflow-x: hidden;
    }
    .sectB{
        overflow-x: hidden;
    }
    .sectC{
        overflow-x: hidden;
        margin-left: 70px;
    }
    .humidity{
        overflow-x: hidden;
    }
    .country-id {
        width: 67%;
    }
    .pressure{
        overflow-x: hidden;
        margin-top: -115px;
    }
    .wind-speed{
        overflow-x: hidden;
        margin-top: -115px;
    }

}
@media (min-width: 1200px) {
    .container {
        margin: 30px 35px;
        width: 600px;
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    
    .sectA{
        overflow-x: hidden;
    }
    .sectB{
        overflow-x: hidden;
    }
    .sectC{
        overflow-x: hidden;
    }
    .humidity{
        overflow-x: hidden;
    }
    .pressure{
        overflow-x: hidden;
        margin-top: -115px;
        margin-left: 250px;
    }
    .wind-speed{
        overflow-x: hidden;
        margin-left: 455px;
        margin-top: -120px;
        
    }
}